@model IMS_V1.WareHouse_Lookup

@{
    ViewBag.Title = "Delete";
}


<br />
<br />
<table style="text-align:center;">
    <tr>
        <td colspan="2" style="text-align:center;">
            <h2>Warehouse</h2>
        </td>
    </tr>
    <tr>
        <th style="text-align:center;">
            Warehouse Number
        </th>
        <th>
            ABC Description
        </th>
    </tr>
    <tr>

        <td style="text-align:center;">
            @Html.DisplayFor(model => model.ABC_Code)
            @Html.HiddenFor(model => model.ABC_Id)
        </td>
        <td style="text-align:left;">
            @Html.DisplayFor(model => model.ABC_Description)
        </td>
    </tr>
    <tr>
        <td style="text-align:center;" colspan="2">
            <h3>Are you sure you want to delete this?</h3>
        </td>
    <tr>
        <td colspan="2" style="text-align:center;">
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Delete" />
                </p>
            }
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WareHouse_Lookup</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WareHouse_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WareHouse_id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WareHouseNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WareHouseNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WareHouseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WareHouseName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
